{% extends "auctions/layout.html" %}

{% block body %}
<h2>Create Listing</h2>

{% if messages %}
  {% for message in messages %}
  <div class="alert alert-success my-2" role="alert">{{ message }}</div>
  {% endfor %}
{% endif %}
  
<form action="{% url 'create-listing' %}" method="post">
  {% csrf_token %}
  <div class="px-1"> 
    <div class="pb-2 form-group">
      {{ form.title }}
    </div>
    <div class="pb-2  form-group">
      {{ form.description }}
    </div>
    <div class="pb-2  form-group">
      {{ form.image_url }}
    </div>
    <div class="pb-2  form-group">
      {{ form.price }}
    </div>
    <div class="pb-2 form-group">
      {{ form.category }}
    </div>
  </div>
  {{ form.errors }}
  <button type="submit" class="btn btn-primary mx-1 ">Submit</button>
</form>
{% endblock %}